<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>タスク詳細</h2>
    <div class="blog-text">
      <p class="left"><strong>作成者</strong></p>
      <p class="left"><%= @task.user.name %></p>
      <p class="left"><strong>タイトル</strong></p>
      <p class="left"><%= @task.title %></p>
      <p class="left"><strong>内容</strong></p>
      <p class="left"><%= @task.content %></p>
      <p class="left"><strong>締切:</strong></p>
      <p class="left"><%= @task.deadline.strftime("%y/%m/%d %H:%M") %></p>
      <p class="left"><strong>担当者</strong></p>
      <p class="left"><%= @task.charge.name %></p>
      <p class="left"><%= if @task.done? then "完了" else "未完了" end %></p>
   </div>
  </div>
</div>
<%= link_to '戻る', user_tasks_path(@task.user), class: 'btn btn-default' %>
